#checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    padding-bottom: 54px;
    padding-top: 120px;
    h2{
        margin: 0px;
        text-align: left;
        margin-bottom: -24px;
        @include md {
            margin-left: 48px;
         margin-bottom: -36px;
        }
        @include lg {
            margin-left: 84px;
            margin-bottom: -64px;
        }
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        gap: 10%;
         margin: 10%;
        input {
    @include formfill();
        }
        input::placeholder{
            @include placeholder();
        }
    }
    #c2>form {
        grid-template-columns: 20% 20% 40%;
        @include lg {
        grid-template-columns: 25% 25% 40%;
            gap: 5%;
        }
    }
    
table {
    margin: 10% 0%;
    @include formfill();
    padding: 0px;
    font-weight: 200;
    font-size: 14pt;
    tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
     }
     @include lg {
        width: 60%;
        margin: 0% 20%;
     }
}
.button {
    @include lg{
    margin-top: 48px;
    }
 }
}