.hero{
    height: 1024px;
    padding-top: 240px;
    background-image: url("../media/hero.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    h1{
        margin: 24px;
    }

    h2{
        margin: 24px;
        margin-bottom: 48px;
    }
}