#options {
    padding: 16px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1;
    gap: 8px;
    /* GRID AREAS*/

#ocontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    grid-template-areas: 
    "all all"
    "small small"
    "ship check";
    @include md {
     grid-template-areas: 
    "all small"
    "all ship"
    "all check";
    }
    #optall {
        grid-area: all;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #opsmall {
        grid-area: small;
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
    }
    #shipping {
        grid-area: ship;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    #cbutton {
        grid-area: check;
        height: fit-content;
        margin: 48px;
    }
}

     /* END GRID AREAS*/

    h1{
        text-align: left;
        width: 80%;
    }
        .feature {
            width: 40%;
            height: 95%;
            #extra {
                margin: 16px 0px;
            }
            >div{
                height: 98px;
            }
        h3{
            line-height: normal;
            margin: 6px;
        }
        h4 {
            line-height: 0%;
            margin-top: 12px; 
            margin-bottom: 8px;
        }
        @include md{
            width: 422px;
            height: 289px;  
            border-radius: 25px;
            h3{
                font-size: 32pt;
            }
            h4{
                font-size: 16pt;
            }
            >div{
                border-radius: 0px 0px 25px 25px;
                height: 163px;
            }
        }
    }
    form{
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
        .checkmark{
            list-style-type: none;
            @include formfill();
            img {
                height: 18px;
                margin-bottom: -8px;
            }
        }
        .container input:checked ~ .checkmark {
            background-color: $p2;
            border-color: $p1;
            color: $v5;
          }
          
    }
    .button {
        width: fit-content;
    }
}