@include lg{
    .reviews{
    background-color: $v5;
    padding-top: 224px;
    color: $p4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;

/* LEFT review */
.rleft{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    #rleft {
        width: fit-content;
        margin: 0px;
        padding: 12px;
        padding-top: 0px;
        padding-right: 184px;
        background-color: $p1;
        display: flex;
        flex-direction: column;
        text-align: left;
        /* review desktop*/
        
        }
}

.rright {
    display: flex;
    flex-direction: row-reverse;    
    width: 60%;
    justify-content: space-between;
            /* RIGHT review */
            #rright {
                width: fit-content;
                margin: 0px;
                padding: 12px;
                padding-top: 0px;
                padding-left: 184px;
                background-color: $p1;
                display: flex;
        flex-direction: column;
        text-align: right;
                /* review desktop*/
                
                }
}
}
}