.hero{
    height: 884px;
    padding-top: 72px;    
    background-image: linear-gradient($v5, $v5, $v5, $p4);
    background-position: -30px;
    background-size: 140%;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    align-items: center;

@include md{
    height: 1024px;
    padding-top: 240px;
}
}