.thanks{
    height: 884px; 
    padding-top: 72px;   
    background-image: linear-gradient($v5, $v5, $v5, $p4);
    background-position: -30px;
    background-size: 140%;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        width: 90%;
    }
    .wrapperh {
        margin-top: 64px;
        gap: 24px;
    }

@include md{
    height: 844px;
    padding-top: 124px;
    .wrapperh {
        margin-top: 64px;
        gap: 24px;
    }
}
}