$p1: #1B4358;
$p2: #357886;
$p3: #4E8A79;
$p4: #AED8A9;

$s1: #573B7C;
$s2: #816C9D;
$s3: #BA9FCF;
$s4: #E3D7E9;


$a1: #DC4A80;
$a2: #E1A9BE;
$a3: #F5BDC7;
$a4: #F7D9D5;

$e1: #CC4B4F;
$e2: #CE7979;
$e3: #E8A9A5;
$e4: #F1C6B2;

$n1: #422D2E;
$n2: #6C5C5C;
$n3: #A79695;
$n4: #E4DAD5;

$v1: #151515;
$v2: #656565;
$v3: #BABABA;
$v4: #F1F1F1;
$v5: #FEFEFE;