h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 200;
}

body {
  background-color: #FEFEFE;
  font-family: "Avenir";
  color: #1B4358;
  text-align: center;
  margin: 0px;
}
body .wrapperv {
  display: flex;
  flex-direction: column;
}
body .wrapperh {
  display: flex;
  flex-direction: row;
}

/* ============
buttons!
============ */
a.button {
  padding: 10px 16px;
  border-radius: 6px;
  font-family: "Avenir";
  font-size: 16pt;
  font-weight: 200;
  text-decoration: none;
  background-color: #357886;
  color: #FEFEFE;
  border-style: solid;
  border-color: #357886;
}
a.button:hover {
  background-color: #4E8A79;
  border-color: #4E8A79;
  transition: 0.1s;
}
a.button:active {
  background-color: #FEFEFE;
  border-color: #656565;
  color: #656565;
}

a.paypal {
  padding: 6px;
  padding-bottom: 4px;
  border-radius: 6px;
  font-family: "Avenir";
  font-size: 14pt;
  font-weight: 200;
  line-height: 12px;
  width: 50%;
  text-decoration: none;
  background-color: #FEFEFE;
  color: #0D3883;
  border-style: solid;
  border-color: #0D3883;
  border-width: 2px;
}
a.paypal img {
  height: 28px;
}
a.paypal:hover {
  background-color: #B2E1F3;
  transition: 0.1s;
  border-style: solid;
  border-color: #0D3883;
}
a.paypal:active {
  background-color: #B2E1F3;
  border-color: #B2E1F3;
}

/* ============
interactive fields
============ */
/* product feature */
.feature {
  width: 156px;
  height: 107px;
  background-color: #1B4358;
  border-radius: 9px;
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  /* product feature desktop*/
}
.feature h3 {
  font-size: 14pt;
  font-weight: 300;
  line-height: 0%;
}
.feature h4 {
  font-size: 8pt;
  font-weight: 100;
  line-height: 0px;
  margin-top: 0px;
}
.feature > div {
  border-radius: 0px 0px 9px 9px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}
.feature #f1 {
  background-image: url("../media/ft1.png");
}
.feature #f2 {
  background-image: url("../media/ft2.png");
}
.feature #f3 {
  background-image: url("../media/ft3.png");
}
.feature #f4 {
  background-image: url("../media/ft4.png");
}
.feature #o1 {
  background-image: url("../media/oft1.png");
}
.feature #o2 {
  background-image: url("../media/oft2.png");
}
@media (min-width: 800px) {
  .feature {
    width: 422px;
    height: 289px;
    border-radius: 25px;
  }
  .feature h3 {
    font-size: 32pt;
  }
  .feature h4 {
    font-size: 16pt;
  }
  .feature > div {
    border-radius: 0px 0px 25px 25px;
    height: 163px;
  }
}

/* big options */
.option {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  width: 179px;
  height: 382px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 800px) {
  .option {
    width: 358px;
    height: 763px;
  }
}

/* Hide the browser's default radio button */
.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.select {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 382px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  border-color: #fff;
  border-style: solid;
  border-width: 6px;
}
@media (min-width: 800px) {
  .select {
    width: 358px;
    height: 763px;
  }
}

#bo1 {
  background-image: url("../media/option1.png");
}

#bo2 {
  background-image: url("../media/option2.png");
}

/* When the radio button is checked, add a background */
.option input:checked ~ .select {
  border-color: #357886;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.select:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.option input:checked ~ .select:after {
  display: block;
}

/* triangles */
.rend {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 120px 72px;
  border-color: transparent transparent #1B4358 transparent;
  margin-right: 0px;
  padding-right: 0px;
}
@media (min-width: 800px) {
  .rend {
    border-width: 0 0 180px 108px;
  }
}
@media (min-width: 1440px) {
  .rend {
    border-width: 0 0 240px 144px;
  }
}

.lend {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 72px 0 0;
  border-color: #1B4358 transparent transparent transparent;
  margin-left: 0px;
  padding-left: 0px;
}
@media (min-width: 800px) {
  .lend {
    border-width: 180px 108px 0 0;
  }
}
@media (min-width: 1440px) {
  .lend {
    border-width: 240px 144px 0 0;
  }
}

/* forms */
header {
  height: 52px;
  width: 100%;
  position: fixed;
  z-index: 5;
}
header ul {
  list-style: none;
  background-color: #1B4358;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  margin: 0px;
  padding: 8px 16px;
}
@media (min-width: 800px) {
  header ul {
    padding: 12px 32px;
  }
}
@media (min-width: 1440px) {
  header ul {
    padding: 16px 64px;
  }
}
header ul li {
  align-self: center;
}
header ul li p {
  opacity: 0;
  letter-spacing: -5px;
}
@media (min-width: 800px) {
  header ul li p {
    letter-spacing: 10px;
  }
}
@media (min-width: 1440px) {
  header ul li p {
    letter-spacing: 30px;
  }
}
header ul li a {
  color: #FEFEFE;
  font-weight: 700;
  font-size: 14pt;
  text-decoration: none;
}
header ul li a img {
  height: 24px;
  align-self: flex-end;
}
header ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #FEFEFE;
}
header ul li a:active {
  text-decoration: underline;
  color: #4E8A79;
  text-decoration-color: #4E8A79;
}

footer {
  background-color: #1B4358;
  display: grid;
  grid-template-columns: auto;
  padding: 8px 32px;
}
footer .flinks {
  border-style: solid;
  border-color: transparent #FEFEFE;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 32px;
}
footer .flinks h6, footer .flinks p {
  font-size: x-small;
  color: #FEFEFE;
  margin: inherit;
  text-align: left;
}
footer .ficons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding-left: 0px;
}
footer .ficons img {
  height: 24px;
}
@media (min-width: 800px) {
  footer {
    padding: 12px 48px;
  }
  footer .flinks {
    gap: 10%;
    justify-content: center;
  }
  footer .flinks h6, footer .flinks p {
    font-size: small;
  }
  footer .ficons {
    gap: 12px;
    padding-left: 4px;
  }
  footer .ficons img {
    height: 30px;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 16px 64px;
  }
  footer .flinks {
    gap: 20%;
  }
  footer .flinks h6, footer .flinks p {
    font-size: small;
  }
  footer .ficons {
    gap: 16px;
    padding-left: 8px;
  }
  footer .ficons img {
    height: 32px;
  }
}

/* =============
    Scripts
============= */
.hero {
  height: 884px;
  padding-top: 72px;
  background-image: url("../media/mobilehero.png");
  background-size: 100%;
  background-repeat: none;
  background-position: left, right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  margin: 12px;
  margin-right: 10%;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.hero h2 {
  margin: 12px;
  margin-top: 260px;
  width: 300px;
  text-align: center;
  margin-left: -240px;
}
.hero a {
  margin-left: -260px;
}
@media (min-width: 800px) {
  .hero {
    height: 1024px;
    padding-top: 240px;
    background-image: url("../media/hero.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
  }
  .hero h2 {
    margin-left: 12px;
  }
  .hero a {
    margin-left: 0px;
  }
  .hero h1 {
    margin: 12px;
    margin-right: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-self: center;
  }
  .hero h2 {
    margin-top: 12px;
    margin-bottom: 64px;
    width: 100%;
  }
}

.product {
  background-image: linear-gradient(#AED8A9, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE);
  background-position: 0px -10px;
  background-size: 110%;
  padding-top: 224px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "prodt prodt" "bigred ftgrid";
}
.product h1 {
  grid-area: prodt;
  width: 200%;
  font-size: 30px;
  text-align: left;
  margin-left: 64px;
}
.product img {
  grid-area: bigred;
  width: 260px;
}
.product .ftgrid {
  grid-area: ftgrid;
  display: flex;
  width: 156px;
  flex-direction: column;
  justify-content: left;
  gap: 32px;
}
@media (min-width: 800px) {
  .product {
    grid-template-columns: 30% 50%;
    grid-template-areas: "bigred prodt" "bigred ftgrid";
    padding: 5%;
  }
  .product h1 {
    width: 100%;
    font-size: 40px;
    margin-left: 0px;
  }
  .product img {
    margin-top: 80%;
    margin-left: -30%;
    width: 120%;
  }
  .product .ftgrid {
    display: grid;
    grid-template-columns: 422px 422px;
    grid-template-rows: 50% 50%;
    align-content: center;
  }
}
@media (min-width: 1440px) {
  .product {
    padding: 10%;
  }
  .product img {
    margin-top: 10%;
    margin-left: 0%;
    width: 100%;
  }
  .product .ftgrid {
    display: grid;
    grid-template-columns: 422px 422px;
    grid-template-rows: 50% 50%;
    align-content: center;
  }
}

.reviews {
  background-color: #FEFEFE;
  color: #AED8A9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 224px;
  gap: 120px;
}
.reviews img {
  height: 120px;
  width: height;
}
.reviews h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
}
.reviews p {
  font-size: 14pt;
  font-weight: 50;
  color: #AED8A9;
}
.reviews p img {
  height: 14px;
  padding-left: 40%;
}
.reviews .rleft {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
.reviews .rleft #rleft {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #1B4358;
  padding: 0px;
  padding-left: 12px;
}
.reviews .rright {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  justify-content: space-between;
}
.reviews .rright #rright {
  background-color: #1B4358;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0px 12px;
}
@media (min-width: 800px) {
  .reviews img {
    height: 144px;
    width: height;
  }
  .reviews .rleft, .reviews .rright {
    width: 75%;
  }
  .reviews .rleft p, .reviews .rright p {
    margin-top: 64px;
    font-size: 16pt;
    weight: normal;
  }
  .reviews .rleft p img, .reviews .rright p img {
    height: 21px;
    padding-left: 20%;
  }
}

@media (min-width: 1440px) {
  .reviews {
    padding-top: 224px;
    gap: 120px;
    /* LEFT review */
  }
  .reviews img {
    height: 100%;
    width: height;
  }
  .reviews h1 {
    font-size: 40px;
    margin-bottom: auto;
  }
  .reviews p {
    font-size: 18pt;
    weight: normal;
  }
  .reviews p img {
    height: 28px;
    padding-left: 40%;
  }
  .reviews .rleft {
    width: 65%;
  }
  .reviews .rleft #rleft {
    width: fit-content;
    margin: 0px;
    padding: 24px;
    padding-top: 0px;
  }
  .reviews .rright {
    width: 65%;
    /* RIGHT review */
  }
  .reviews .rright #rright {
    width: fit-content;
    margin: 0px;
    padding: 24px;
    padding-top: 0px;
  }
}
.wrap {
  background-image: linear-gradient(#FEFEFE, #FEFEFE, #FEFEFE, #AED8A9);
  background-position: -30px;
  background-size: 140%;
  height: 640px;
  padding-top: 240px;
}
.wrap h2 {
  width: 80%;
  margin-left: 10%;
  margin-top: 24px;
  margin-bottom: 84px;
}

#options {
  padding: 16px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1;
  gap: 8px;
  /* GRID AREAS*/
  /* END GRID AREAS*/
}
#options #ocontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  grid-template-areas: "all all" "small small" "ship check";
}
@media (min-width: 800px) {
  #options #ocontent {
    grid-template-areas: "all small" "all ship" "all check";
  }
}
#options #ocontent #optall {
  grid-area: all;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#options #ocontent #opsmall {
  grid-area: small;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}
#options #ocontent #shipping {
  grid-area: ship;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#options #ocontent #cbutton {
  grid-area: check;
  height: fit-content;
  margin: 48px;
}
#options h1 {
  text-align: left;
  width: 80%;
}
#options .feature {
  width: 40%;
  height: 95%;
}
#options .feature #extra {
  margin: 16px 0px;
}
#options .feature > div {
  height: 98px;
}
#options .feature h3 {
  line-height: normal;
  margin: 6px;
}
#options .feature h4 {
  line-height: 0%;
  margin-top: 12px;
  margin-bottom: 8px;
}
@media (min-width: 800px) {
  #options .feature {
    width: 422px;
    height: 289px;
    border-radius: 25px;
  }
  #options .feature h3 {
    font-size: 32pt;
  }
  #options .feature h4 {
    font-size: 16pt;
  }
  #options .feature > div {
    border-radius: 0px 0px 25px 25px;
    height: 163px;
  }
}
#options form .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
#options form .checkmark {
  list-style-type: none;
  border-color: #357886;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  padding: 12px;
  width: 100%;
}
@media (min-width: 800px) {
  #options form .checkmark {
    padding: 16px;
  }
}
#options form .checkmark img {
  height: 18px;
  margin-bottom: -8px;
}
#options form .container input:checked ~ .checkmark {
  background-color: #357886;
  border-color: #1B4358;
  color: #FEFEFE;
}
#options .button {
  width: fit-content;
}

#checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  padding-bottom: 54px;
}
#checkout h2 {
  margin: 0px;
  text-align: left;
  margin-bottom: -24px;
}
@media (min-width: 800px) {
  #checkout h2 {
    margin-left: 48px;
    margin-bottom: -36px;
  }
}
@media (min-width: 1440px) {
  #checkout h2 {
    margin-left: 84px;
    margin-bottom: -64px;
  }
}
#checkout form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  gap: 10%;
  margin: 10%;
}
#checkout form input {
  border-color: #357886;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  padding: 12px;
  width: 100%;
}
@media (min-width: 800px) {
  #checkout form input {
    padding: 16px;
  }
}
#checkout form input::placeholder {
  color: #1B4358;
  font-family: Avenir;
  font-weight: 100;
  font-size: 14pt;
  text-align: left;
}
#checkout #c2 > form {
  grid-template-columns: 20% 20% 40%;
}
@media (min-width: 1440px) {
  #checkout #c2 > form {
    grid-template-columns: 25% 25% 40%;
    gap: 5%;
  }
}
#checkout table {
  margin: 10% 0%;
  border-color: #357886;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  padding: 12px;
  width: 100%;
  padding: 0px;
  font-weight: 200;
  font-size: 14pt;
}
@media (min-width: 800px) {
  #checkout table {
    padding: 16px;
  }
}
#checkout table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}
@media (min-width: 1440px) {
  #checkout table {
    width: 60%;
    margin: 0% 20%;
  }
}
@media (min-width: 1440px) {
  #checkout .button {
    margin-top: 48px;
  }
}

.thanks {
  height: 884px;
  padding-top: 72px;
  background-image: linear-gradient(#FEFEFE, #FEFEFE, #FEFEFE, #AED8A9);
  background-position: -30px;
  background-size: 140%;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanks h2 {
  width: 90%;
}
.thanks .wrapperh {
  margin-top: 64px;
  gap: 24px;
}
@media (min-width: 800px) {
  .thanks {
    height: 844px;
    padding-top: 124px;
  }
  .thanks .wrapperh {
    margin-top: 64px;
    gap: 24px;
  }
}
