h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 200;
}

body {
  background-color: #FEFEFE;
  font-family: "Avenir";
  color: #1B4358;
  text-align: center;
  margin: 0px;
}
body .wrapperv {
  display: flex;
  flex-direction: column;
}
body .wrapperh {
  display: flex;
  flex-direction: row;
}

/* ============
buttons!
============ */
a.button {
  padding: 10px 16px;
  border-radius: 6px;
  font-family: "Avenir";
  font-size: 16pt;
  font-weight: 200;
  text-decoration: none;
  background-color: #357886;
  color: #FEFEFE;
  border-style: solid;
  border-color: #357886;
}
a.button:hover {
  background-color: #4E8A79;
  border-color: #4E8A79;
  transition: 0.1s;
}
a.button:active {
  background-color: #FEFEFE;
  border-color: #656565;
  color: #656565;
}

a.paypal {
  padding: 10px 16px;
  border-radius: 6px;
  font-family: "Avenir";
  font-size: 16pt;
  font-weight: 200;
  text-decoration: none;
  background-color: #B2E1F3;
  color: #0D3883;
  border-style: solid;
  border-color: #B2E1F3;
}
a.paypal:hover {
  background-color: #B2E1F3;
  transition: 0.1s;
  border-style: solid;
  border-color: #0D3883;
}
a.paypal:active {
  background-color: #0D3883;
  color: #FEFEFE;
  border-style: none;
}

/* ============
interactive fields
============ */
/* product feature */
.feature {
  width: 156px;
  height: 107px;
  background-color: #1B4358;
  border-radius: 9px;
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  /* product feature desktop*/
}
.feature h3 {
  font-size: 14pt;
  font-weight: 300;
  line-height: 0%;
}
.feature h4 {
  font-size: 8pt;
  font-weight: 100;
  line-height: 0px;
  margin-top: 0px;
}
.feature > div {
  border-radius: 0px 0px 9px 9px;
  height: 60px;
}
.feature #f1 {
  background-image: url("../media/ft1.png");
}
.feature #f2 {
  background-image: url("../media/ft2.png");
}
.feature #f3 {
  background-image: url("../media/ft3.png");
}
.feature #f4 {
  background-image: url("../media/ft4.png");
}
@media (min-width: 800px) {
  .feature {
    width: 422px;
    height: 289px;
    border-radius: 25px;
  }
  .feature h3 {
    font-size: 32pt;
  }
  .feature h4 {
    font-size: 16pt;
  }
  .feature > div {
    border-radius: 0px 0px 25px 25px;
    height: 163px;
  }
}

header {
  position: sticky;
  height: 52px;
}
header ul {
  list-style: none;
  background-color: #1B4358;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding: 16px 16px 0px;
}
header ul a {
  color: #FEFEFE;
  font-weight: 700;
  text-decoration: none;
}
header ul a img {
  height: 36px;
}
header ul a:hover {
  text-decoration: underline;
  text-decoration-color: #FEFEFE;
}
header ul a:active {
  text-decoration: underline;
  color: #4E8A79;
  text-decoration-color: #4E8A79;
}

footer {
  background-color: #1B4358;
  display: grid;
  grid-template-columns: auto;
  padding: 8px 32px;
}
footer .flinks {
  border-style: solid;
  border-color: transparent #FEFEFE;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding: 0px 32px;
}
footer .flinks h6, footer .flinks p {
  font-size: x-small;
  color: #FEFEFE;
  margin: inherit;
}
footer .ficons {
  list-style: none;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  gap: 4px;
}

/* =============
    Scripts
============= */
.hero {
  height: 884px;
  padding-top: 72px;
  background-image: url("..deploy/media/mobilehero.png");
  background-size: 100%;
  background-repeat: none;
  background-position: left, right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  margin: 12px;
  margin-right: 10%;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.hero h2 {
  margin: 12px;
  margin-top: 260px;
  width: 300px;
  text-align: center;
  margin-left: -240px;
}
.hero a {
  margin-left: -260px;
}
@media (min-width: 800px) {
  .hero {
    height: 1024px;
    padding-top: 240px;
    background-image: url("../media/hero.png");
    background-size: cover;
    background-repeat: none;
    background-position: center;
  }
  .hero h2 {
    margin-left: 12px;
  }
  .hero a {
    margin-left: 0px;
  }
  .hero h1 {
    margin: 12px;
    margin-right: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-self: center;
  }
  .hero h2 {
    margin-top: 12px;
    margin-bottom: 64px;
    width: 100%;
  }
}

.product {
  background-image: linear-gradient(#AED8A9, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE, #FEFEFE);
  background-position: 0px -10px;
  background-size: 110%;
  padding-top: 224px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "prodt prodt" "bigred ftgrid";
}
.product h1 {
  grid-area: prodt;
  width: 200%;
  font-size: 30px;
  text-align: left;
}
.product img {
  grid-area: bigred;
}
.product .ftgrid {
  grid-area: ftgrid;
  display: flex;
  width: 156px;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 800px) {
  .product {
    grid-template-columns: 30% 50%;
    grid-template-areas: "bigred prodt" "bigred ftgrid";
    padding: 5%;
  }
  .product h1 {
    width: 100%;
    font-size: 40px;
  }
  .product img {
    margin-top: 10%;
  }
  .product .ftgrid {
    display: grid;
    grid-template-columns: 422px 422px;
    grid-template-rows: 50% 50%;
    align-content: center;
  }
}
@media (min-width: 1440px) {
  .product {
    padding: 10%;
  }
  .product img {
    width: 100%;
  }
}

.reviews {
  background-color: #FEFEFE;
  color: #AED8A9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  /* LEFT review */
}
.reviews .rleft {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}
.reviews .rleft #rleft {
  width: fit-content;
  margin: 0px;
  padding: 12px;
  padding-top: 0px;
  padding-right: 184px;
  background-color: #1B4358;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* review desktop*/
}
.reviews .rright {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  justify-content: space-between;
  /* RIGHT review */
}
.reviews .rright #rright {
  width: fit-content;
  margin: 0px;
  padding: 12px;
  padding-top: 0px;
  padding-left: 184px;
  background-color: #1B4358;
  display: flex;
  flex-direction: column;
  text-align: right;
  /* review desktop*/
}

.wrap {
  background-image: linear-gradient(#FEFEFE, #FEFEFE, #FEFEFE, #AED8A9);
  background-position: -30px;
  background-size: 140%;
  height: 640px;
  padding-top: 240px;
}
.wrap h2 {
  width: 80%;
  margin-left: 10%;
  margin-top: 24px;
  margin-bottom: 84px;
}

.hero {
  height: 884px;
  padding-top: 72px;
  background-image: linear-gradient(#FEFEFE, #FEFEFE, #FEFEFE, #AED8A9);
  background-position: -30px;
  background-size: 140%;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 800px) {
  .hero {
    height: 1024px;
    padding-top: 240px;
  }
}
