/* ============
buttons!
============ */

@mixin button(){
padding: 10px 16px;
border-radius: 6px;
font-family: 'Avenir';
font-size: 16pt;
font-weight: 200;
text-decoration: none;
background-color: $p2;
color: $v5;
border-style: solid;
border-color: $p2;

&:hover {
    background-color: $p3;
    border-color: $p3;
    transition: .1s;
}
&:active {
    background-color: $v5;
    border-color: $v2;
    color: $v2;
}

}
a.button {
    @include button();
    }
a.paypal {
    padding: 10px 16px;
border-radius: 6px;
font-family: 'Avenir';
font-size: 16pt;
font-weight: 200;
text-decoration: none;
background-color: $pp;
color: $pt;
border-style: solid;
border-color: $pp;
        
        &:hover {
            background-color: $pp;
            transition: .1s;
            border-style: solid;
            border-color: $pt;
        }
        &:active {
            background-color: $pt;
            color: $v5;
            border-style: none;
    
        } 
}